/node_modules
/coverage
/benchmark
/lib
/test
/dist/test

.travis*
Gruntfile.coffee
Gruntfile.js
keyfinder.js
keyfinder.min.js

.git/
.gitignore
.gitattributes
.DS_Store
.jshintrc
.editorconfig
.coveralls.yml
coffeelint.json

LICENSE

*.sublime-project
*.sublime-workspace
todo.md
